{
  "port"   : 7111,
  "ripple": {
    "servers": ["wss://s-west.ripple.com:443"]
  },
  "hbase" : {
    "logLevel" : 2,
    "prefix" : "test_",
    "servers" : [
      {"host" : "", "port": 9090}
    ]
  },
  "ripple": {
    "server" : "wss://s1.ripple.com:443"
  },
  "cacheControl": {
    "max-age": 10,
    "stale-while-revalidate": 30,
    "stale-if-error": 300
  }
}
