{
  "port": 7111,
  "logLevel": 2,
  "logFile": null,
  "genesis_ledger": 1,
  "hbase" : {
    "logLevel" : 2,
    "prefix" : "test_",
    "servers" : [
      {"host" : "", "port": 9090}
    ]
  },
  "ripple": {
    "server" : "wss://s1.ripple.com:443"
  },
  "cacheControl": {
    "max-age": 10,
    "stale-while-revalidate": 30,
    "stale-if-error": 300
  },
  "hbase-rest" : {
    "prefix" : "test_",
    "host"   : "",
    "port"   : 20550
  },
  "validators-config" : "validators.config.json.example",
  "fee_url": "http://s1.ripple.com:51234",
  "hdfs": {
    "user": "impala",
    "host": "localhost",
    "port": 50070,
    "path": "/path/"
  },
  "recipients": ["user@example.com"],
  "rippleds_url": "https://data.ripple.com/v2/network/topology/nodes"
  "rateLimit": {
    "max": 60,
    "duration": 60000,
    "whitelist": [],
    "blacklist": []
  }
  "redis": {
    "host": "localhost",
    "port": "6379"
  }
}
