{
  "queLength"  : 50,
  "startIndex" : 32750,
  "ripple" : {
    "trace"                 : false,
    "allow_partial_history" : false,
    "servers" : [
      { "host" : "s-west.ripple.com", "port" : 443, "secure" : true },
      { "host" : "s-east.ripple.com", "port" : 443, "secure" : true }
    ]
  },
  "dbtype" : "postgres",
  "db"     : {
    "host"     : "127.0.0.1",
    "user"     : "",
    "password" : "",
    "database" : "ripple_data",
    "charset"  : "utf8"
  }
}